.progressBar {
  height: 20px;
  border-radius: 10px;
  background: white;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.progressMarker {
  background-color: #e45a84;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: width ease-in 0.5s;
  max-width: 100%;
}
